
## Reutilizando as variaveis
APP_NAME="Meu Sistema"
APP_TITLE="${APP_NAME} - Restante do titulo" # Aqui estou usando o valor da variavel APP_NAME para formar o titulo da aplicação

APP_HOST_BASE="http://localhost:8080"
DB_DRIVER="pgsql"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="my_db"
DB_USER="root"
DB_PASS="pass123"
DEBUG_ENABLED=false #Aceita apenas valores true ou false

SECRET="algum_valor_bem_dificil_sdkjsdkjsdkjs" #Gere um valor aleatório e coloque aqui. Serve para criptografar a conexão
DISTANCIA_MAX=1000 #distancia entre a loja e o entregador, divida este valor por 100 e terá em km. Se 1000 temos 10km, para 15km (15*100) = 1500
TEMPO_MAX=50
